In [1]:
import pandas as pd

In [9]:
df=pd.read_csv("titanic.csv")

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
useful_data=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [18]:
useful_data.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [19]:
input=useful_data.drop('Survived',axis='columns')

In [20]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [21]:
target=useful_data['Survived']

In [22]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le_sex=LabelEncoder()

In [26]:
input['Sex']=le_sex.fit_transform(input['Sex'])

In [27]:
input.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [28]:
from sklearn import tree

In [29]:
model=tree.DecisionTreeClassifier()

In [31]:
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test, y_train, y_test = train_test_split(input,target,test_size=0.2)

In [35]:
model.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [36]:
input.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

# replace NaN with mean

In [38]:
input.Age = input.Age.fillna(input.Age.mean())

In [39]:
input.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [41]:
x_train, x_test, y_train, y_test = train_test_split(input,target,test_size=0.2)
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [44]:
model.score(x_test,y_test)

0.8324022346368715

In [46]:
model.predict([[3,1,22,7.25]])

array([0], dtype=int64)

In [47]:
model.predict([[1,0,28,71.2833]])

array([1], dtype=int64)